/********** Base styles (Mobile only) **********/
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  /*margin-bottom: 1em;*/
  text-align: center;
  font-size: 1.75em;
}

section {
  background-color: #999999;
  width: 90%;
  margin: 0 auto 2em auto;
  outline: 1px solid black;
}

h2 {
  float: right;
  width: 7em;
  margin: 0;
  padding: 2px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.25em;
}

p {
  clear: right;
  padding: 1em;
}

#chicken {
  background: #D59898;
}

#beef {
  background: #C14543;
  color: white;
}

#sushi {
  background: #E5D198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktops only **********/
@media (min-width: 992px) {
  .col-dsktp-4 {
    float: left;
  }
  .col-dsktp-4 {
    width: 33.33%;
  }
}

/********** Tablets only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tblt-6, .col-tblt-12 {
    float: left;
  }
  .col-tblt-6 {
    width: 50%;
  }
  .col-tblt-12 {
    width: 100%;
  }
  .long {
    width: 95%;
  }
}